<div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <h2 style="color: white; margin-top: 61px;
    font-weight: 500;">Serviço Finalizado!</h2>

    <img style="margin-top: 9px;
    width: 67px;
    margin-bottom: 10px;" src="assets\Correto.png">

<div style="margin-top: 32px;
width: 316px;
height: 260px;
background-color: rgb(101, 101, 101);border-radius: 11px; display: flex; justify-content: center;">

<div style="display: flex; flex-direction: row; margin-top: 22px; display: flex;
justify-content: center;">

    <div style="color: white; margin-left: 5px; display: flex;
    flex-direction: column;
    align-items: center;">

        <div style="width: 281px;
        background-color: #7e7e7e;
        height: 67px;
        border-radius: 10px;">
            <p style="margin-left: 9px;
            margin-top: 12px;">Favor Confirmar caso o serviço tenha sido realizado conforme a necessidade.</p>
        </div>

        <div style="display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 29px;">
            <button mat-raised-button color="accent" style="    background-color: green;
            margin-right: 17px;" (click)="HomeCliente()">Confirmar</button>
            <button (click)="Sos()" mat-raised-button color="warn">S.O.S</button>
        </div>

        <p style="margin-left: 9px;
            margin-top: 33px; color: #ffafaf;">* caso seja selecionado a opção S.O.S, nosso Suporte será alertado e auxiliará com o que for necessário.</p>

    </div>

</div>

</div>


</div>




