<div style="display: flex; justify-content: center; flex-direction: column;">

    <div style="justify-content: center; display: flex; flex-direction: column; align-items: center;">
        <h2 style="color: white; margin-top: 72px;">Destino de Anailton</h2>
        <img style="margin-top: 23px;
        width: 361px;
        margin-left: 5px;
        margin-bottom: -87px;" src="assets\rota.PNG">
    </div>


    <button mat-raised-button style="margin-top: 194px;" color="primary"(click)="FinalizarServico()">Continuar</button>

</div>