<div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <h2 mat-dialog-title>Serviço Encontrado!</h2>
    <div mat-dialog-content>

        <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
            <div style="margin-bottom: 29px;">Anailton precisa de sua ajuda!</div>

            <img style="width: 67px;" src="assets\usuario.png">
            
            <div style="margin-top: 39px; margin-bottom: 9px;"> Serviço: Troca de Pneu.</div>
        </div>

    </div>
    <div mat-dialog-actions>
        <button mat-raised-button mat-dialog-close color="primary" (click)="Aceitar()">Aceitar</button>
        <button mat-raised-button color="warn" (click)="Rejeitar()">Rejeitar</button>
    </div>
</div>
