
<div>
    <img (click) = "VoltarHome()" style="margin-top: 23px;
    width: 27px;
    margin-left: -24px;
    margin-bottom: -38px; cursor: pointer;" src="assets\voltar.png">
</div>

<div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <h2 style="color: white; margin-top: 61px;
    font-weight: 500;">Qual Serviço Gostaria de Solicitar ?</h2>

    <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; margin-top: 39px;">

        <div style="width: 160px; width: 160px;
        height: 123px; display: flex; flex-direction: column; justify-content: center; align-items: center; margin-right: 15px; background-color: #46464654;
        border-radius: 17px;">

            <img style="margin-top: 9px;
            width: 77px;
            margin-left: 12px;
            margin-bottom: 10px;" src="assets\troca-pneu.png">

            <p style="color: white;">Troca de Pneu</p>

        </div>

        <div style="width: 160px; width: 160px;
        height: 123px; display: flex; flex-direction: column; justify-content: center; align-items: center; background-color: #46464654;
        border-radius: 17px;">

            <img style="margin-top: 9px;
            width: 77px;
            margin-left: 12px;
            margin-bottom: 10px;" src="assets\manutencao-motor.png">

            <p style="color: white;">Manutenção de Motor</p>    
        </div>
        

    </div>


    <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; margin-top: 39px;">

        <div style="width: 160px; width: 160px;
        height: 123px; display: flex; flex-direction: column; justify-content: center; align-items: center; margin-right: 15px; background-color: #46464654;
        border-radius: 17px;">

            <img style="margin-top: 9px;
            width: 77px;
            margin-left: 12px;
            margin-bottom: 10px;" src="assets\guincho.png">

            <p style="color: white;">Guincho</p>

        </div>

        <div style="width: 160px; width: 160px;
        height: 123px; display: flex; flex-direction: column; justify-content: center; align-items: center; background-color: #46464654;
        border-radius: 17px;">

            <img style="margin-top: 9px;
            width: 77px;
            margin-left: 12px;
            margin-bottom: 10px;" src="assets\oleo.png">

            <p style="color: white;">Troca de Óleo</p>    
        </div>
        

    </div>

    <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; margin-top: 39px;">

        <div style="width: 160px; width: 160px;
        height: 123px; display: flex; flex-direction: column; justify-content: center; align-items: center; margin-right: 15px; background-color: #46464654;
        border-radius: 17px;">

            <img style="margin-top: 9px;
            width: 77px;
            margin-left: 12px;
            margin-bottom: 10px;" src="assets\manutencao-geral.png">

            <p style="color: white;">Manutenção Geral</p>

        </div>

        <div style="width: 160px; width: 160px;
        height: 123px; display: flex; flex-direction: column; justify-content: center; align-items: center; background-color: #46464654;
        border-radius: 17px;">

            <img style="margin-top: 9px;
            width: 77px;
            margin-left: 12px;
            margin-bottom: 10px;" src="assets\check.png">

            <p style="color: white;">Checuk-up Completo</p>    
        </div>
        

    </div>

</div>