
<div [ngClass]="{'escurecer-tela':loading == true}">
    <div>
        <google-map height="500px"
                width="400px"
                [center]="center"
                [zoom]="zoom"
                (mapClick)="moveMap($event)"
                (mapMousemove)="move($event)">
        </google-map>
    </div>
    
    <div style="display: flex; align-items: center; justify-content: center; margin-top: 60px;">
        <h1 style="color: white;">Buscando Serviços</h1>
    </div>
    
    
    
</div>


<div style="display: flex; justify-content: center;">
    <div class="lds-roller" *ngIf="loading == true"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
</div>

