<div>
    <img (click) = "VoltarLogin()" style="margin-top: 23px;
    width: 27px;
    margin-left: -32px;
    margin-bottom: -38px; cursor: pointer;" src="assets\voltar.png">
</div>


<div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
    
    <h1 style="color: white; margin-top: 66px;">O que Você deseja ?</h1>


        <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">

            <div (click)="HomeCliente()" style="align-items: center;flex-direction: column;display: flex; justify-content: center; margin-top: 82px; cursor: pointer; width: 309px; height: 200px; background-color: rgb(167, 167, 167);">
                <img style="
                    width: 54px;cursor: pointer;height: 54px; margin-top: -3px;" src="assets\search.png">
                    
                    <h2 style="margin-top: 7px;">Encontrar Profissionais</h2>

                    <p style="padding-left: 41px;
                    font-weight: bold;">Peça pelo serviço que você quer e te indicaremos um profissional.</p>
            </div>

            <div (click)="CadastrarServico()" style="align-items: center;flex-direction: column;display: flex; justify-content: center; margin-top: 59px; cursor: pointer; width: 309px; height: 200px; background-color: rgb(167, 167, 167);">
                <img style="
                    width: 54px;cursor: pointer;height: 54px; margin-top: -3px;" src="assets\cadastro.png">
                    
                    <h2 style="margin-top: 7px;">Cadastrar meus serviços</h2>

                    <p style="padding-left: 41px;
                    font-weight: bold; margin-right: 26px;">Receba pedidos de clientes próximos à você!</p>
            </div>

        <div>

        </div>

    </div>
    
</div>

