<!-- <div>
    <img (click) = "VoltarMenuCliente()" style="margin-top: 23px;
    width: 27px;
    margin-left: -24px;
    margin-bottom: -38px; cursor: pointer;" src="assets\voltar.png">
</div> -->

<div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <h2 style="color: white; margin-top: 61px;
    font-weight: 500;">Preço do Serviço</h2>

    <img style="margin-top: 9px;
    width: 67px;
    margin-bottom: 10px;" src="assets\price.png">

    <div style="margin-top: 32px;
    width: 316px;
    height: 367px;
    background-color: rgb(101, 101, 101);">
    
        <div style="display: flex; flex-direction: column; margin-top: 22px; display: flex;
        justify-content: center;">

            <p style="color: white;
            margin-left: 19px;">O valor que o prestador está cobrando para o serviço selecionado é de: </p>

            <div style="margin-top: 32px;
            margin-left: 12px;
            border-radius: 10px;
            width: 291px;
            height: 92px;
            background-color: rgb(189, 189, 189);
            display: flex;
            justify-content: center;
            align-items: center;">

            <h1 style="margin-top: 13px;
            font-size: 37px;
            color: #156a0b;">R$: 50,00</h1>
                
            </div>

            <p style="color: white;
            margin-top: 22px;
            margin-left: 51px;
        ">Você aceita o valor mencionado?</p>

        <div style="display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 15px;">
            <button mat-raised-button color="accent" style="    background-color: green;
            margin-right: 17px;">Aceitar</button>
            <button mat-raised-button color="warn">Recusar</button>
        </div>



        </div>

    </div>

</div>