<!-- <div>
    <img (click) = "VoltarMenuCliente()" style="margin-top: 23px;
    width: 27px;
    margin-left: -24px;
    margin-bottom: -38px; cursor: pointer;" src="assets\voltar.png">
</div> -->

<div [ngClass]="{'escurecer-tela':loading == true}" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <h2 style="color: white; margin-top: 61px;
    font-weight: 500;">Acompanhe sua Solicitação</h2>

    <img style="margin-top: 9px;
    width: 67px;
    margin-left: 12px;
    margin-bottom: 10px;" src="assets\rotas.png">

    <div style="margin-top: 32px;
    width: 316px;
    height: 341px;
    background-color: rgb(101, 101, 101);">
    
        <div style="display: flex; flex-direction: row; margin-top: 22px; display: flex;
        justify-content: center;">

            <div style="display: flex; flex-direction: column;">

                <div style="width: 16px;
                height: 16px;
                background-color: #01c501;
                border-radius: 42px;
                border: 2px solid black;"></div>

                <div style="border: 1px solid black;
                width: 0px;
                height: 121px;
                margin-left: 9px;"></div>

                <div style="width: 16px;
                height: 16px;
                background-color: #01c501;
                border-radius: 42px;
                border: 2px solid black;"></div>

            </div>

            <div style="color: white; margin-left: 5px; display: flex;
            flex-direction: column;
            align-items: center;">

                <h3 style="color: white;
                font-weight: 500; margin-left: 13px;">Procurando Prestador</h3>

                <div style="width: 202px;
                background-color: #7e7e7e;
                height: 66px;
                border-radius: 10px;">
                    <p style="margin-left: 9px;
                    margin-top: 12px;">Achamos alguém que irá te ajudar!</p>
                </div>

                <h3 style="color: white;
                font-weight: 500; margin-left: 13px; margin-top: 30px;">Prestador Analisando o Serviço</h3>

                <div style="width: 202px;
                background-color: #7e7e7e;
                height: 66px;
                border-radius: 10px;">
                    <p style="margin-left: 9px;
                    margin-top: 12px;">O Prestador já confirmou sua solicitação!</p>
                </div>

            </div>

        </div>

    </div>

</div>

<div style="display: flex; justify-content: center;">
    <div class="lds-roller" *ngIf="loading == true"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
</div>



