<div>
    <img (click) = "VoltarOpcoes()" style="margin-top: 23px;
    width: 27px;
    margin-left: -31px;
    margin-bottom: -38px; cursor: pointer;" src="assets\voltar.png">
</div>


<div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <h2 style="color: white; margin-top: 61px;
    font-weight: 500;">Cadastrar Preços</h2>

<img style="margin-top: 5px;
width: 61px;
margin-bottom: 10px;" src="assets\preco.png">
</div>



<div style="display: flex; flex-direction: column;">

    <div style="display: flex; align-items: center; justify-content: center;" *ngFor="let servico of servicos">

        <div style="border: 1px solid black;
        width: 301px;
        height: 44px;
        margin-top: 24px;">

        <div>
            
            <h2 style="color: white; margin-left: 9px; margin-top: 5px; float: left;">{{servico.servico}}</h2>

            <mat-form-field class="example-full-width" style="float: right; margin-top: -7px; width: 100px; color: white" appearance="fill">
                <mat-label style="color: white">Valor</mat-label>
                <input style="color: white" matInput  [(ngModel)]= "servico.valor" name="preco">
              </mat-form-field>

        </div>
    
    </div>

    </div>

    <button mat-raised-button style="margin-top: 348px;" color="primary"(click)="SalvarServicos()">Continuar</button>

</div>
